<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <script src="https://kit.fontawesome.com/0a58e80414.js" crossorigin="anonymous"></script>
    <title>Post</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <main style="padding: 3rem">
      <%- include ("partials/message") %>
      <form action="/profile/post" method="POST">
        <div class="form-group">
          <label for="exampleforTitle">標題</label>
          <input
            name="title"
            type="text"
            class="form-control"
            id="exampleforTitle"
          />
        </div>
        <br />
        <div class="form-group">
          <label for="exampleforContent">內容</label>
          <textarea
            class="form-control"
            id="exampleforContent"
            aria-describedby="emailHelp"
            name="content"
          /></textarea>
        <br />
        <button type="submit" class="btn btn-primary">發文</button>
      </form>
    </main>
  </body>
</html>
